*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    
    
     
}

#nav{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 17px;
    font-weight: 500;
    border: 1px solid black;
    padding: 5px 8px;
    border-radius: 50px;
}

#nav i{
    font-size: 17px;
    font-weight: 500;
    border: 1px solid black;
    padding: 5px 8px;
    border-radius: 50px;
}

#nav h1{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 17px;
    font-weight: 600;
    background-color: white;

}
#nav #btn2{
    background-color: orangered;
    color: white;
    border: none;
}
#main>h1{
    font-size: 180px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}
img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#img1{
    transform: translate(-50%, -50%) rotate(30deg);
}
#img2{
    transform: translate(-50%, -50%) rotate(20deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(10deg);
}
#img4{
    transform: translate(-50%, -50%) rotate(5deg);
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 18;
    font-weight: 300;
}
.ri-arrow-down-fill{

    font-size: 20px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    
    
}

.ri-checkbox-blank-circle-line{
    font-size: 10rem;
    position: absolute;
    bottom: -6%;
    left: 46%;

    
}


.ri-instagram-line{
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    right: 10%;
    

}
.ri-youtube-fill{
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    right: 8%;
    

}
.ri-facebook-box-fill{
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    right: 6%;
    

}